build==1.2.2.post1
colorama==0.4.6
greenlet==3.1.1
mccabe==0.7.0
numpy<=2.0.2
packaging==24.2
pandas>=1.4.0
pycodestyle==2.12.1
pyodbc==5.2.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
tsqloader==0.1.1
SQLAlchemy==2.0.39
typing_extensions==4.12.2
tzdata==2025.1
